/* Profile */

.main .news-feed.user-profile {
    margin-top: 15px;
}

@keyframes loadProfile {
    from { opacity: 0.0 }
    to { opacity: 1.0 }
}

.main .content .profile {
    border-radius: 3px;
    background-color: white;
    animation-name: loadProfile;
    animation-duration: 0.4s;
}

.main .content .profile .profile-header {
    height: 217px;
    padding: 15px 15px 0px 15px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.main .content .profile .profile-header .profile-card {
    display: flex;
    background-color: white;
    width: 515px;
    height: 202px;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.16);
}

.main .content .profile .profile-header .profile-card .user-avatar {
    width: 200px;
    height: 202px;
    background-position: center;
    background-size: cover;
}

.main .content .profile .profile-header .profile-card .user-info {
    width: 256px;
    margin: 26px auto;
}

.main .content .profile .profile-header .profile-card .user-info .user-name {
    font-size: 18px;
    font-family: Roboto Medium;
    color: black;
    padding-bottom: 3px;
    border-bottom: solid 1px #E6E6E6;
}

.main .content .profile .profile-header .profile-card .user-info .user-status {
    font-size: 12px;
    font-family: Roboto Regular;
    color: black;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #E6E6E6;
}

.main .content .profile .profile-header .profile-card .user-info .user-description {
    font-size: 12px;
    font-family: Roboto Regular;
    color: black;
    margin-top: 16px;
    line-height: 24px;
}

.main .content .profile .profile-footer {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.main .content .profile .profile-footer .subscribe {
    display: block;
    width: 157px;
    height: 30px;
    padding: 7px 44px;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px #9EBAE3;
    color: white;
    background-color: #9EBAE3;
    text-decoration: none;
    font-size: 12px;
    font-family: Roboto Regular;
    transition: background-color 0.1s;
    transition: color 0.1s;
}

.main .content .profile .profile-footer .subscribe:hover {
    background-color: white;
    color: #9EBAE3;
}

.main .content .profile .profile-footer .chat {
    display: block;
    width: 36px;
    height: 30px;
    margin-left: 7px;
    border-radius: 3px;
    background-image: url('/assets/images/chat.svg');
    background-color: #9EBAE3;
    background-position: center;
    background-blend-mode: overlay;
    background-size: 18.67px 16px;
    background-repeat: no-repeat;
}

.main .content .profile .profile-footer .subscribers-amount {
    font-size: 12px;
    font-family: Roboto Medium;
    color: #4572B4;
    margin-left: 62px;
}

.main .content .profile .profile-footer .reviews-amount {
    font-size: 12px;
    font-family: Roboto Medium;
    color: #4572B4;
    margin-left: 62px;
}