.main .news-feed .news-feed-categories {
    height: 45px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
}

.main .news-feed .news-feed-categories .items {
    margin: 0;
    padding: 0;
}

.main .news-feed .news-feed-categories .items .item {
    display: inline-block;
}

.main .news-feed .news-feed-categories .items .item:not(:last-child) {
    margin-right: 45px;
}

.main .news-feed .news-feed-categories .items .item a {
    display: block;
    position: relative;
    color: black;
    font-size: 12px;
    font-family: Roboto Regular;
    text-decoration: none;
    transition: color 0.1s;
}

.main .news-feed .news-feed-categories .items .item a:after {
    content: '';
    display: block;
    width: 0px;
    height: 9px;
    left: calc(50% - 10.5px);
    position: absolute;
    margin-top: 5px;
    background-color: #9EBAE3;
    border-radius: 2px 2px 0px 0px;
}

.main .news-feed .news-feed-categories .items .item a.active {
    color: #9EBAE3;
}

.main .news-feed .news-feed-categories .items .item a.active:after {
    width: 21px;
}

.main .news-feed .news-feed-categories .items .item a:hover {
    color: #9EBAE3;
}

.main .news-feed .news-feed-main {
    width: 100%;
    margin-top: 15px;
    padding: 5px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
}

.main .news-feed .news-feed-main .news-feed-stocks {
    display: flex;
    padding-bottom: 5px;
    border-bottom: solid 1px #E6E6E6;
}

.main .news-feed .news-feed-main .news-feed-stocks .stocks-start {
    width: 70px;
    height: 41px;
    background-image: url('/assets/images/stocks-start.svg');
    background-position: center;
    background-size: 21px 21px;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock {
    display: block;
    width: 70px;
    height: 41px;
    border-radius: 3px;
    padding: 5px 20px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-color: #505050;
    background-blend-mode: overlay;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock:not(:last-child) {
    margin-right: 3px;
}

.main .news-feed .news-feed-main .news-feed-list {
    margin-top: 15px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item:not(:first-child) {
    margin-top: 40px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: solid 1px #E6E6E6;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info {
    display: flex;
    align-items: center;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description {
    margin-left: 20px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description .user-name {
    display: block;
    font-size: 12px;
    font-family: Roboto Regular;
    color: black;
    text-decoration: none;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description .news-type {
    font-size: 12px;
    font-family: Roboto Light;
    color: #A4A4A4;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .review-arrow {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background-image: url('/assets/images/review-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .share-arrow {
    width: 11.47px;
    height: 13px;
    margin-left: 10px;
    background-image: url('/assets/images/share-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-avatar {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description {
    margin-left: 20px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description .establishment-name {
    display: block;
    font-size: 12px;
    font-family: Roboto Regular;
    color: black;
    text-decoration: none;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description .establishment-type {
    font-size: 12px;
    font-family: Roboto Light;
    color: #A4A4A4;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .rating {
    font-size: 25px;
    font-family: Roboto Regular;
    color: #4572B4;
    margin-left: 10px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-options {
    width: 10px;
    height: 6px;
    cursor: pointer;
    background-image: url('/assets/images/post-arrow-down.svg');
}

.main .news-feed .news-feed-main .news-content {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #E6E6E6;
    font-size: 12px;
    font-family: Roboto Regular;
    color: black;
}

.main .news-feed .news-feed-main .news-content .news-image {
    width: 372px;
    height: 208px;
    background-position: center;
    background-size: cover;
}

.main .news-feed .news-feed-main .news-content .news-text {
    width: 383px;
    height: 208px;
    margin-left: 10px;
    overflow: auto;
}

.main .news-feed .news-feed-main .news-content .news-text::-webkit-scrollbar {
    width: 3px;
}

.main .news-feed .news-feed-main .news-content .news-text:hover::-webkit-scrollbar-thumb {
    background-color: darkgray;
}

.main .news-feed .news-feed-main .news-actions {
    display: flex;
    margin-top: 12px;
}

.main .news-feed .news-feed-main .news-actions .unlike {
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 50px;
    margin-top: 1px;
    background-image: url('/assets/images/unlike.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .like {
    display: block;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    background-image: url('/assets/images/like.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .news-rating {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: Roboto Regular;
    color: #4572B4;
}

.main .news-feed .news-feed-main .news-actions .comments {
    width: 15px;
    height: 15px;
    margin-left: 50px;
    margin-top: 3px;
    background-image: url('/assets/images/comment.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .comments-amount {
    margin-left: 10px;
    font-size: 12px;
    font-family: Roboto Regular;
    color: #4572B4;
}

.main .news-feed .news-feed-main .news-actions .shares {
    width: 15px;
    height: 15px;
    margin-left: 50px;
    margin-top: 1px;
    background-image: url('/assets/images/share.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .shares-amount {
    margin-left: 10px;
    font-size: 12px;
    font-family: Roboto Regular;
    color: #4572B4;
}