@font-face {
	font-family: Roboto Regular;
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto Light Italic;
	src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
	font-family: Roboto Bold;
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto Condensed Light;
	src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family: Roboto Condensed Italic;
	src: url('../fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
	font-family: Roboto Light;
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto Italic;
	src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: Roboto Condensed Light Italic;
	src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.wrapper {
	background-color: #EDEEF0;
	overflow: auto;
}

.container {
	width: 795px;
	margin: 0 auto;
	position: relative;
}

.block {
	width: 100%;
	height: 1200px;
	padding: 20px;
	box-sizing: border-box;
	background: #2A2A2A;
	color: white;
	font-family: Roboto Light;
}

/* Header */

.header .panel {
	display: flex;
	align-items: center;
	width: 100%;
	height: 42px;
	padding: 7px 0px;
	position: fixed;
	z-index: 10;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.header .panel .logo {
	display: block;
	width: 133px;
	height: 28px;
	position: absolute;
	left: -164px;
	background-image: url('../images/logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.header .panel .tools {
	display: flex;
	justify-content: space-between;
}

.header .panel .tools .search {
	position: relative;
}

.header .panel .tools .search input {
	width: 320px;
	padding: 6px 31px;
	box-sizing: border-box;
	border-radius: 14px;
	font-size: 12px;
	font-family: Roboto Light Italic;
	font-style: italic;
	border: none;
	outline: none;
	background-color: #E6E6E6;
	color: #A4A4A4;
}

.header .panel .tools .search input:focus {
	background-color: #DEDBDB;
}

.header .panel .tools .search .search-icon {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url('../images/search.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header .panel .tools .user {
	display: flex;
	align-items: center;
}

.header .panel .tools .user .user-balance {
	position: relative;
	margin-right: 50px;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto Regular;
	color: #4572B4;
}

.header .panel .tools .user .user-balance:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: -25px;
	background-image: url('../images/balance.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header .panel .tools .user .user-name {
	margin-right: 20px;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto Regular;
	color: black;
}

.header .panel .tools .user .user-avatar {
	display: block;
	width: 28px;
	height: 28px;
	margin-right: 20.85px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.header .panel .tools .user .user-options {
	display: block;
	width: 8.15px;
	height: 5.03px;
	background-image: url('../images/user-options-arrow-down.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

/* Main */

.main {
    margin-top: 57px;
}

.main .content {
    min-height: 1200px;
    overflow: auto;
}

.main .content .block {
	width: 100%;
	height: 1200px;
	padding: 20px;
	box-sizing: border-box;
	background: #2A2A2A;
	color: white;
}

@keyframes loadPage {
    from { margin-top: 200px; opacity: 0.0 }
    to { opacity: 1.0 }
}

.main .content .inner {
    animation-name: loadPage;
    animation-duration: 0.4s;
}

/* Left sidebar */

.main .left-sidebar {
	width: 149px;
	position: absolute;
	top: 0;
	left: -165px;
}

.main .left-sidebar .main-menu {
	width: 100%;
	padding: 16px 10px;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: white;
}

.main .left-sidebar .main-menu .items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main .left-sidebar .main-menu .items .item {

}

.main .left-sidebar .main-menu .items .item:not(:last-child) {
	margin-bottom: 14.89px;
}

.main .left-sidebar .main-menu .items .item a {
	font-size: 12px;
	font-family: Roboto Regular;
	text-decoration: none;
	color: #4572B4;
}

.main .left-sidebar .main-menu .items .item a.active {
	color: #9EBAE3;
}

.main .left-sidebar .main-menu .items .item a:hover {
	color: #9EBAE3;
}

.main .left-sidebar .main-menu .items .item a:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 15px;
	position: relative;
	top: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.main .left-sidebar .main-menu .items .item:nth-child(1) a:before {
	background-image: url('../images/user-profile.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(1) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(1) a.active:before {
	background-image: url('../images/user-profile-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(2) a:before {
	background-image: url('../images/news-feed.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(2) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(2) a.active:before {
	background-image: url('../images/news-feed-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(3) a:before {
	background-image: url('../images/orders.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(3) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(3) a.active:before {
	background-image: url('../images/orders-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(4) a:before {
	background-image: url('../images/subscriptions.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(4) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(4) a.active:before {
	background-image: url('../images/subscriptions-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(5) a:before {
	background-image: url('../images/rating.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(5) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(5) a.active:before {
	background-image: url('../images/rating-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) a:before {
	background-image: url('../images/info.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(6) a.active:before {
	background-image: url('../images/info-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) {
	margin-top: 22px;
	padding-top: 21px;
	border-top: solid 1px #E6E6E6;
}

.main .left-sidebar .main-menu .items .item:nth-child(7) a:before {
	background-image: url('../images/info.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(7) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(7) a.active:before {
	background-image: url('../images/info-selected.svg');
}

/* Right sidebar */

.main .right-sidebar {
	width: 149px;
	position: absolute;
	top: 0;
	right: -165px;
}

.main .right-sidebar .recommend-establishment {
	width: 100%;
	height: 272px;
	padding: 10px 15px;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
}

.main .right-sidebar .recommend-establishment .establishment-name {
	padding-bottom: 5px;
	border-bottom: solid 1px #E6E6E6;
	color: white;
	font-size: 18px;
	font-family: Roboto Italic;
}

.main .right-sidebar .recommend-establishment .establishment-name span {
	font-family: Roboto Condensed Light Italic;
}

.main .right-sidebar .recommend-establishment .establishment-description {
	margin-top: 5px;
	color: white;
	font-size: 12px;
	font-family: Roboto Condensed Light Italic;
}

.main .right-sidebar .recommend-establishment .more {
	color: white;
	display: inline-block;
	width: 119px;
	padding: 5px 15px;
	margin-top: 25px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: Roboto Condensed Light Italic;
	text-decoration: none;
	text-align: center;
	border: solid 1px white;
	transition: background-color 0.1s;
}

.main .right-sidebar .recommend-establishment .more:hover {
	color: #505050;
	background-color: white;
}

/* Footer */

.footer {
	height: 20px;
	padding: 5px 0;
	margin-top: 15px;
	background-color: #707070;
}

.footer .copyright {
	color: white;
	font-size: 12px;
	font-family: Roboto Condensed Light;
	text-align: center;
	line-height: 22px;
}