@font-face {
	font-family: Roboto Regular;
	src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto Light Italic;
	src: url('./fonts/Roboto-LightItalic.ttf');
}

@font-face {
	font-family: Roboto Bold;
	src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto Condensed Light;
	src: url('./fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family: Roboto Condensed Italic;
	src: url('./fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
	font-family: Roboto Light;
	src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto Italic;
	src: url('./fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: Roboto Condensed Light Italic;
	src: url('./fonts/RobotoCondensed-LightItalic.ttf');
}

body {
	margin: 0;
}

.wrapper {
	background-color: #EDEEF0;
	overflow: auto;
}

.container {
	width: 795px;
	margin: 0 auto;
	position: relative;
}

/* Header */

.header .panel {
	display: flex;
	align-items: center;
	height: 42px;
	padding: 7px 0px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
}

.header .panel .logo {
	display: block;
	width: 133px;
	height: 28px;
	position: absolute;
	left: -164px;
	background-image: url('./images/logo.svg');
	background-size: contain;
	background-repeat: no-repeat;	
}

.header .panel .tools {
	display: flex;
	justify-content: space-between;
}

.header .panel .tools .search {
	position: relative;
}

.header .panel .tools .search input {
	width: 320px;
	padding: 6px 31px;
	box-sizing: border-box;
	border-radius: 14px;
	font-size: 12px;
	font-family: Roboto Light Italic;
	font-style: italic;
	border: none;
	outline: none;
	background-color: #E6E6E6;
	color: #A4A4A4;
}

.header .panel .tools .search input:focus {
	background-color: #DEDBDB;
}

.header .panel .tools .search .search-icon {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url('./images/search.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header .panel .tools .user {
	display: flex;
	align-items: center;
}

.header .panel .tools .user .user-balance {
	position: relative;
	margin-right: 50px;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto Regular;
	color: #4572B4;
}

.header .panel .tools .user .user-balance:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: -25px;
	background-image: url('./images/balance.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header .panel .tools .user .user-name {
	margin-right: 20px;
	text-decoration: none;
	font-size: 12px;
	font-family: Roboto Regular;
	color: black;
}

.header .panel .tools .user .user-avatar {
	display: block;
	width: 28px;
	height: 28px;
	margin-right: 20.85px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.header .panel .tools .user .user-options {
	display: block;
	width: 8.15px;
	height: 5.03px;
	background-image: url('./images/user-options-arrow-down.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

/* Main */

.main {
	margin-top: 15px;
}

.main .content {
	min-height: 1200px;
}

.main .news-feed .news-feed-categories {
	height: 45px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: white;
}

.main .news-feed .news-feed-categories .items {
	margin: 0;
	padding: 0;
}

.main .news-feed .news-feed-categories .items .item {
	display: inline-block;
}

.main .news-feed .news-feed-categories .items .item:not(:last-child) {
	margin-right: 45px;
}

.main .news-feed .news-feed-categories .items .item a {
	display: block;
	position: relative;
	color: black;
	font-size: 12px;
	font-family: Roboto Regular;
	text-decoration: none;
	transition: color 0.1s;
}

.main .news-feed .news-feed-categories .items .item a:after {
	content: '';
	display: block;
	width: 0px;
	height: 9px;
	left: calc(50% - 10.5px);
	position: absolute;
	margin-top: 5px;
	background-color: #9EBAE3;
	border-radius: 2px 2px 0px 0px;
}

.main .news-feed .news-feed-categories .items .item a.active {
	color: #9EBAE3;
}

.main .news-feed .news-feed-categories .items .item a.active:after {
	width: 21px;
}

.main .news-feed .news-feed-categories .items .item a:hover {
	color: #9EBAE3;
}

.main .news-feed .news-feed-main {
	width: 100%;
	margin-top: 15px;
	padding: 5px 15px 15px 15px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: white;
}

.main .news-feed .news-feed-main .news-feed-stocks {
	display: flex;
	padding-bottom: 5px;
	border-bottom: solid 1px #E6E6E6;
}

.main .news-feed .news-feed-main .news-feed-stocks .stocks-start {
	width: 70px;
	height: 41px;
	background-image: url('./images/stocks-start.svg');
	background-position: center;
	background-size: 21px 21px;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock {
	display: block;
	width: 70px;
	height: 41px;
	border-radius: 3px;
	padding: 5px 20px;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	background-color: #505050;
	background-blend-mode: overlay;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock span {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-stocks .stock:not(:last-child) {
	margin-right: 3px;
}

.main .news-feed .news-feed-main .news-feed-list {
	margin-top: 15px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item:not(:first-child) {
	margin-top: 40px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: solid 1px #E6E6E6;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info {
	display: flex;
	align-items: center;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-avatar {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description {
	margin-left: 20px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description .user-name {
	display: block;
	font-size: 12px;
	font-family: Roboto Regular;
	color: black;
	text-decoration: none;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .user-description .news-type {
	font-size: 12px;
	font-family: Roboto Light;
	color: #A4A4A4;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .review-arrow {
	width: 13px;
	height: 13px;
	margin-left: 10px;
	background-image: url('./images/review-arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .share-arrow {
	width: 11.47px;
	height: 13px;
	margin-left: 10px;
	background-image: url('./images/share-arrow.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-avatar {
	display: block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description {
	margin-left: 20px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description .establishment-name {
	display: block;
	font-size: 12px;
	font-family: Roboto Regular;
	color: black;
	text-decoration: none;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .establishment-description .establishment-type {
	font-size: 12px;
	font-family: Roboto Light;
	color: #A4A4A4;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-info .rating {
	font-size: 25px;
	font-family: Roboto Regular;
	color: #4572B4;
	margin-left: 10px;
}

.main .news-feed .news-feed-main .news-feed-list .news-item .news-header .news-options {
	width: 10px;
	height: 6px;
	cursor: pointer;
	background-image: url('./images/post-arrow-down.svg');
}

.main .news-feed .news-feed-main .news-content {
	display: flex;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #E6E6E6;
	font-size: 12px;
	font-family: Roboto Regular;
	color: black;
}

.main .news-feed .news-feed-main .news-content .news-image {
	width: 372px;
	height: 208px;
	background-position: center;
	background-size: cover;
}

.main .news-feed .news-feed-main .news-content .news-text {
	width: 383px;
	height: 208px;
	margin-left: 10px;
	overflow: auto;
}

.main .news-feed .news-feed-main .news-content .news-text::-webkit-scrollbar {
	width: 3px;
}

.main .news-feed .news-feed-main .news-content .news-text:hover::-webkit-scrollbar-thumb {
	background-color: darkgray;
}

.main .news-feed .news-feed-main .news-actions {
	display: flex;
	margin-top: 12px;
}

.main .news-feed .news-feed-main .news-actions .unlike {
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 50px;
	margin-top: 1px;
	background-image: url('./images/unlike.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .like {
	display: block;
	width: 15px;
	height: 15px;
	margin-top: 1px;
	background-image: url('./images/like.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .news-rating {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	font-family: Roboto Regular;
	color: #4572B4;
}

.main .news-feed .news-feed-main .news-actions .comments {
	width: 15px;
	height: 15px;
	margin-left: 50px;
	margin-top: 3px;
	background-image: url('./images/comment.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .comments-amount {
	margin-left: 10px;
	font-size: 12px;
	font-family: Roboto Regular;
	color: #4572B4;
}

.main .news-feed .news-feed-main .news-actions .shares {
	width: 15px;
	height: 15px;
	margin-left: 50px;
	margin-top: 1px;
	background-image: url('./images/share.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .news-feed .news-feed-main .news-actions .shares-amount {
	margin-left: 10px;
	font-size: 12px;
	font-family: Roboto Regular;
	color: #4572B4;
}

/* Left sidebar */

.main .left-sidebar {
	width: 149px;
	position: absolute;
	top: 0;
	left: -165px;
}

.main .left-sidebar .main-menu {
	width: 100%;
	padding: 16px 10px;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: white;
}

.main .left-sidebar .main-menu .items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main .left-sidebar .main-menu .items .item {

}

.main .left-sidebar .main-menu .items .item:not(:last-child) {
	margin-bottom: 14.89px;
}

.main .left-sidebar .main-menu .items .item a {
	font-size: 12px;
	font-family: Roboto Regular;
	text-decoration: none;
	color: #4572B4;
}

.main .left-sidebar .main-menu .items .item a.active {
	color: #9EBAE3;
}

.main .left-sidebar .main-menu .items .item a:hover {
	color: #9EBAE3;
}

.main .left-sidebar .main-menu .items .item a:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 15px;
	position: relative;
	top: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.main .left-sidebar .main-menu .items .item:nth-child(1) a:before {
	background-image: url('./images/user-profile.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(1) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(1) a.active:before {
	background-image: url('./images/user-profile-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(2) a:before {
	background-image: url('./images/news-feed.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(2) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(2) a.active:before {
	background-image: url('./images/news-feed-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(3) a:before {
	background-image: url('./images/orders.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(3) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(3) a.active:before {
	background-image: url('./images/orders-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(4) a:before {
	background-image: url('./images/subscriptions.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(4) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(4) a.active:before {
	background-image: url('./images/subscriptions-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(5) a:before {
	background-image: url('./images/rating.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(5) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(5) a.active:before {
	background-image: url('./images/rating-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) a:before {
	background-image: url('./images/info.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(6) a.active:before {
	background-image: url('./images/info-selected.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(6) {
	margin-top: 22px;
	padding-top: 21px;
	border-top: solid 1px #E6E6E6;
}

.main .left-sidebar .main-menu .items .item:nth-child(7) a:before {
	background-image: url('./images/info.svg');
}

.main .left-sidebar .main-menu .items .item:nth-child(7) a:hover:before,
.main .left-sidebar .main-menu .items .item:nth-child(7) a.active:before {
	background-image: url('./images/info-selected.svg');
}

/* Right sidebar */

.main .right-sidebar {
	width: 149px;
	position: absolute;
	top: 0;
	right: -165px;
}

.main .right-sidebar .recommend-establishment {
	width: 100%;
	height: 272px;
	padding: 10px 15px;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
}

.main .right-sidebar .recommend-establishment .establishment-name {
	padding-bottom: 5px;
	border-bottom: solid 1px #E6E6E6;
	color: white;
	font-size: 18px;
	font-family: Roboto Italic;
}

.main .right-sidebar .recommend-establishment .establishment-name span {
	font-family: Roboto Condensed Light Italic;
}

.main .right-sidebar .recommend-establishment .establishment-description {
	margin-top: 5px;
	color: white;
	font-size: 12px;
	font-family: Roboto Condensed Light Italic;
}

.main .right-sidebar .recommend-establishment .more {
	color: white;
	display: inline-block;
	width: 119px;
	padding: 5px 15px;
	margin-top: 25px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: Roboto Condensed Light Italic;
	text-decoration: none;
	text-align: center;
	border: solid 1px white;
	transition: background-color 0.1s;
}

.main .right-sidebar .recommend-establishment .more:hover {
	color: #505050;
	background-color: white;
}

/* Footer */

.footer {
	height: 20px;
	padding: 5px 0;
	margin-top: 15px;
	background-color: #707070;
}

.footer .copyright {
	color: white;
	font-size: 12px;
	font-family: Roboto Condensed Light;
	text-align: center;
	line-height: 22px;
}